body {
	background-color: #F5C920;
}

.header .nav {
	transition: 0.3s;
	height: 100%;
	line-height: 50px;
	display: flex;
	justify-content: space-around;
}

.page-wrapper {
	width: 80%;
	height: 2680px;
	justify-content: space-around;
	background-color: #fff;
	margin: 50px auto;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
}

.nav-pills {
	position: absolute;
	top: 55px;
	left: 195px;
	margin-top: 20px;
}

.nav-pills li a {
	margin-left: 50px;
	color: #999;
	border-radius: 15px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus
	{
	color: #fff;
	background-color: #F5C920;
}

.class-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 140px;
	border-top: 2px #F5C920 dashed;
}

section {
	margin-top: 20px;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 0.2px #eee solid;
}

.good-list-title {
	padding-top: 70px;
	position: relative;
	margin: 15px 15px 5px 15px;
	font-size: 25px;
}

.good-list-title a {
	font-size: 16px;
	text-decoration: none;
	color: #F5C920;
	position: relative;
	left: 10%;
}

.good-item {
	margin: 10px;
}

.thumbnail img {
	margin: 5px auto;
	width: 200px;
	height: 200px;
	border-radius: 10px;
}